package main

import (
	"fmt"
	"github.com/troygilman/gong/hooks"
)

type SimpleComponent struct{}

templ (component SimpleComponent) View() {
	<div id={ hooks.ComponentID(ctx) }>
		Hello World
	</div>
	<form
		hx-post
		hx-target={ "#" + hooks.ComponentID(ctx) }
		hx-headers={ hooks.ActionHeaders(ctx) }
	>
		<button>
			Submit
		</button>
	</form>
}

templ (component SimpleComponent) Action() {
	{{
		fmt.Println("Hello Universe")
	}}
	Hello Universe
}
