package main

import (
	"fmt"
	"github.com/troygilman/gong"
	"github.com/troygilman/gong/form"
	"github.com/troygilman/gong/target"
)

type SimpleComponent struct{}

templ (component SimpleComponent) View() {
	@target.New() {
		Hello World
	}
	@form.New().WithSwap(gong.SwapInnerHTML) {
		<button>
			Submit
		</button>
	}
}

templ (component SimpleComponent) Action() {
	{{
		fmt.Println("Hello Universe")
	}}
	Hello Universe
}
