package main

import (
	"fmt"
	"github.com/troygilman/gong/button"
	"github.com/troygilman/gong/target"
)

type SimpleComponent struct{}

templ (component SimpleComponent) View() {
	@target.New() {
		Hello World
	}
	@button.New() {
		Submit
	}
}

templ (component SimpleComponent) Action() {
	{{
		fmt.Println("Hello Universe")
	}}
	Hello Universe
}
