package main

import "github.com/troygilman0/gong"

type homeView struct{}

templ (view homeView) View() {
	<div>
		HOME
		<div>
			@gong.Link("/users") {
				Users
			}
		</div>
		@gong.Outlet()
	</div>
}
