package main

import (
	"github.com/troygilman/gong/link"
	"github.com/troygilman/gong/outlet"
)

type homeView struct{}

templ (view homeView) View() {
	<div>
		HOME
		<div>
			@link.New("/users") {
				Users
			}
		</div>
		@outlet.New()
	</div>
}
