package main

import (
	"github.com/troygilman/gong"
	"log"
)

type testView struct {
	UserView userView `kind:"user"`
	db       *userDatabase
}

templ (view testView) Action() {
	{{
	log.Println("TEST", gong.GetRequest(ctx).PathValue("name"))
	}}
}

templ (view testView) View() {
	{{
	name := gong.GetRequest(ctx).PathValue("name")
	user, ok := view.db.Read(name)
	}}
	if ok {
		@gong.NewComponent("user", view.UserView).WithLoaderData(user)
	}
}
