package gong

type indexComponent struct{}

templ (c indexComponent) View() {
	{{
		gCtx := getContext(ctx)
	}}
	<html>
		@gCtx.Route.Child(gCtx.ChildRouteIndex).Component().Head()
		<body>
			@NewOutlet()
		</body>
	</html>
}
