package gong

type indexComponent struct{}

templ (c indexComponent) View() {
	{{
		gCtx := getContext(ctx)
	}}
	<html>
		@gCtx.Node.children[gCtx.ChildRouteIndex].route.component.Head()
		<body>
			@Outlet()
		</body>
	</html>
}
