package gong

templ index(route *Route) {
	<html>
		if head, ok := route.component.view.(Head); ok {
			@head.Head()
		} else {
			<head>
				<meta charset="utf-8"/>
				<title>Gong App</title>
				<script src="https://unpkg.com/htmx.org@2.0.4" integrity="sha384-HGfztofotfshcF7+8n44JQL2oJmowVChPTg48S+jvZoztPfvwD79OC/LTtG6dMp+" crossorigin="anonymous"></script>
			</head>
		}
		<body>
			@route
		</body>
	</html>
}
