package server

import (
	"github.com/troygilman/gong/internal/gctx"
	"github.com/troygilman/gong/outlet"
)

type indexComponent struct{}

templ (c indexComponent) View() {
	<html>
		@gctx.GetContext(ctx).ChildRoute.Component().Head()
		<body>
			@outlet.New()
		</body>
	</html>
}
