package nested_components

import (
	"github.com/troygilman/gong"
	"github.com/troygilman/gong/button"
	"github.com/troygilman/gong/component"
	"github.com/troygilman/gong/hooks"
)

type ChildComponent struct{}

func NewChildComponent() gong.Component {
	return component.New(ChildComponent{})
}

templ (c ChildComponent) View() {
	<div class={ BoxClass() }>
		<div id={ hooks.ComponentID(ctx) }></div>
		@button.New() {
			Click
		}
	</div>
}

templ (c ChildComponent) Action() {
	Child
}
