package nested_components

import "github.com/troygilman/gong"

type ParentComponent struct {
	ChildComponent gong.Component
}

func NewParentComponent(child gong.Component) gong.Component {
	return gong.NewComponent(ParentComponent{
		ChildComponent: child,
	})
}

templ (c ParentComponent) View() {
	<div class={ BoxClass() }>
		@gong.Target()
		<div id={ gong.ComponentID(ctx) }></div>
		@gong.Button() {
			Click
		}
		@c.ChildComponent
	</div>
}

templ (c ParentComponent) Action() {
	Parent
}
